<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
  <style>
    body {
      margin-top: 100px;
      margin-left: 30px;
    }

    input:invalid {
      border: solid red 3px;
    }
  </style>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <title>HTMX Demo</title>
</head>
<body>
<div style="width:30%;margin:0px auto;text-align:center">
  <p style="width: 400px;text-align: center" th:text="${message}"></p>
  <div hx-swap="outerHTML" id="results">

    <form hx-get="chat-login/" hx-target="#results" style="padding-left:20%;width:500px">
      <h2>Please enter your name</h2>
      <fieldset role="group">
        <input hx-trigger="keyup changed delay:500ms" hx-get="validate-username/"
               hx-target="#next-button"
               id="userId" name="username" value="" type="text" min="1" max="20000">
        <button type="submit" disabled id="next-button">Next</button>
      </fieldset>
    </form>
  </div>
</div>
</body>
</html>